body{
    background-color:white;
}
*{
    padding: 0;
    margin: 0;
}

.portfolio-sections
{
    width: 100%;
    text-align: center;
}

.navigation-bar{
    position: fixed;
    height: 90px;
    width: 100%;
    background-color: rgb(20, 22, 29);
}

.portfolio-sections h1{
    margin-top: 50px;
}

html{
    scroll-behavior: smooth;
}

.main-container
{
    position:relative;
    top: 70px;
    z-index: 1;
    border: none;
}

.navbar-brand
{
    color:rgb(215, 135, 15) !important;
}
.brand{
    margin-top: 20px;
    color:rgb(215, 135, 15);
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
}
.navmenu{
    color:white;
    font-size: 25px;
}

.navmenu:hover{
  color: darkseagreen;
  font-size: 26px;
  
}
#home{
    height:500px;
    background-image:url("https://static.vecteezy.com/system/resources/previews/024/122/647/non_2x/cover-and-banner-of-working-desk-with-gadget-top-view-of-table-working-and-free-space-for-text-with-computer-laptop-notebook-coffee-cup-phone-and-paper-free-vector.jpg"); 
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 90%;
    border: none;
    background-color: rgb(3, 7, 10);
}

#home-info{
    position:absolute;
    top: 60px;
    width:400px;
    height: 250px;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 65%;
}

.info{
    font-weight: bold;
    color:white;
    opacity: 1;
}

.rsnbtn{
    height: 60px;
    width: 120px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bolder;
    background-color: rgb(237, 153, 74);
    color: white;
    transition-duration: 1s;
}

.rsnbtn:hover{
    background-color: white;
    color: royalblue;
    border: 3px solid rgb(237, 153, 74);
    transform: scale(1.1);
    transition: duration 4px;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  .row {
    display: flex;
    background-color: cornsilk;
    height: 450px;
    
  }

  .heading{
    font-family: fantasy ;
    text-align: center;
    margin-bottom:50px;
    font-size: 40px;
  }
  
  /*.row h1{
    margin-top: 80px;
    margin-bottom: 70px;
    font-family:fantasy;
    font-weight: bolder;
  }*/
  
  .column {
    margin-top: 3%;
    margin-bottom: 3%;
    flex: 50%;
    
  }
  .left{
    background-color: rgb(192,224,239);
  }
  .right{
    background-color: rgb(192,224,239);
  }

  #careerobj{
    margin-left: 50px;
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
  }

  .skill-section{
    margin-top: 90px;
    margin-left: 20px;
    background-color: rgb(245, 233, 242);
  }

  #skillhead{
    font-weight: bold;
    margin-top: 120px !important;
  }

  .scale-up-left {
    -webkit-animation: scale-up-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2024-3-18 15:56:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-left
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-left {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}
@keyframes scale-up-left {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}

.skill-subheading{
  transition-duration: 10s;
}

.scale-up-right {
	-webkit-animation: scale-up-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-18 16:0:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-right
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-right {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
}
@keyframes scale-up-right {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
  }
}

#prohead{
  font-weight: bold;
}

.project-sect{
  height:600px;
  margin-top: 40px;
  padding: 20px;
  background-color: rgb(235, 235, 247);
}
.headd{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(215, 135, 15);
  font-size: 70px;
  font-weight: bolder;
}
.headd:hover{
  color:transparent;
  /*-webkit-text-stroke: 1px rgb(215, 135, 15);*/
  -webkit-text-stroke: 1px pink;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-18 18:7:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.skill-td:hover{
  box-shadow:2px 2px 2px 2px palevioletred;
}

.tbl{
  margin-left: 4%;
}

.card{
  width: 200px;
}
.card:hover{
  box-shadow: 2px 2px 2px 2px rgb(237, 171, 237);
}
.card-deck{
  margin-right: 120px;
  margin-left: 120px;
}

#contacthead{
  font-weight: bold;
}

.cont-sect{
  height: 500px;
}

.contact-tbl{
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(242, 241, 237);
}

.con-tbl{
  margin-left: 180px;
  margin-right: 180px;
}

div.contact-tbl{
  text-align: left;
  line-height: 3;
}

.details{
  margin-left: 70px;
  /*background-color: rgb(231, 239, 241);*/
  font-size: 20px;
}


.footer{
  margin-top: 30px;
  background-color: rgb(235, 235, 247);
  height: 45px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.form{
  width: 60%;
  margin-left: 20%;
}

.form-group{
  text-align: left;
  font-size: 20px;
}
